{% extends 'partials/layout.njk' %}
{% block title %}Home page {% endblock %}
{% block content %}
    {% if name and age %}
    <h1>Hello {{ name }} you are {{age}} years old!</h1>
    {% endif %}
    
   {% endblock %}