{% extends 'partials/layout.njk' %}
{% block title %}Home page {% endblock %}
{% block content %}
    {% if a and b %}
    {% endif %}
 <h1>a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup></h1>
   
    {% if sideA and sideB %}
      {% set sideC = (sideA ** 2 + sideB ** 2) ** 0.5 %}
     
    {% endif %}
  
  <form action="/" method="">
    <div class="mb-3">
      <label for="sideA" class="form-label">A</label>
      <input type="number" class="form-control" name="sideA" id="sideA" placeholder="a">
    </div>
    <div class="mb-3">
      <label for="sideB" class="form-label">B</label>
      <input type="number"  class="form-control" name="sideB" id="sideB" placeholder="b">
    </div>
    <div class="mb-3">
      <input type="submit" class="btn btn-primary">
    </div>
  </form>

   <div id="resultContainer">
    {% if sideA is defined and sideB is defined %}
      {% set sideC = (sideA ** 2 + sideB ** 2) ** 0.5 %}
      <h2>Pikkus C on {{ sideC.toFixed(2) }}</h2>
    {% endif %}
  </div>

{% endblock %}